bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/HammerProxyCheck/DesignTimeBuild/.dtbcache.v2
/.vs/HammerProxyCheck/v17/.futdcache.v2
/.vs/HammerProxyCheck/v17/.suo
/.vs/HammerProxyCheck/FileContentIndex/0f01720a-8ecd-48e0-a4a7-124b792f411b.vsidx
/.vs/HammerProxyCheck/v17/DocumentLayout.json
/.vs/ProjectEvaluation/hammerproxycheck.metadata.v7.bin
/.vs/ProjectEvaluation/hammerproxycheck.projects.v7.bin
/.vs/HammerProxyCheck/FileContentIndex/347b4322-15a6-4c3c-a66a-7adce2ded539.vsidx
/.vs/HammerProxyCheck/FileContentIndex/bc8fe175-9b8a-4f43-9546-f6ba93fb8d25.vsidx
